* {
    box-sizing: border-box;
    width: 100%;
     margin: 0;
    }

body {
    width: 100%;
    color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid darkgrey 2px;
    border-left: solid darkgrey 2px;
    border-right: solid darkgrey 2px;
    background-color: rgb(236, 236, 236)
    }

header {
    height: 64px;
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
    background-color: white !important;
    }

.header-image {
    height: 50px;
    width: auto;
    }

.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(202, 202, 202);
    }

#banner-text-box {
    max-width: 100%;
    height: auto;
    background-color: rgb(199, 199, 199);
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(61, 61, 61);
    }
    
h1 {
    padding: 32px 0 32px 0;
    font-size: 35px;
    font-weight: 800;
    }

h4 {
    font-size: 18px;
    }

#start-button {
    background-color: rgb(132, 132, 132);
    color: white;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.info {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    } 

.info-text-box {
    max-width: 100%;
    align-content: center;
    line-height: 1.8;
    padding: 16px 16px 32px 16px;
    color: rgb(61, 61, 61);
    }    

.info-text box p {
    font-size: 18px;
    }

#orientation-image, #campus-image, #guest-image {
    max-width: 100%;
    height: auto;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    }

#more-link {
    color: rgb(77, 101, 241);
    }

.thesis {
    width: 100%;
    }

video {
    width: 100%;
    height: auto;
    }
        
.thesis h1 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgb(61, 61, 61);
    border-bottom: solid rgb(198, 197, 197) 2px;
    }

footer {
    padding-top: 24px;
    border-top: solid gray 2px;
    }

footer p {
    font-size: 14px;
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    }

/* ruleset for mobile only devices */

@media only screen and (max-width: 670px) {
    .mobile-content {
        display: block; 
        } /* Visible by default */

    .desktop-content { 
        display: none;
        }  /* Hidden by default */
    
#mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 64px;
    }

#banner-image {
    width: 100%;
    height: auto;
    padding: 1px 1px 0 1px;
    }

.courses {
    border-bottom: solid rgb(199, 198, 198) 2px;
    width: 100%;
    }

.courses h1 {
    color: rgb(61, 61, 61);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    }

#course-boxes {
    width: auto;
    margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 32px;
    }

.courses h4 {
    display: flex;
    justify-content: left;
    padding-top: 32px;
    padding-bottom: 16px;
    color: rgb(61, 61, 61);
    background-color: rgb(204, 204, 204);
    padding: 16px 16px 24px 16px;
    margin-bottom: 8px;
    width: 100%;
    }
}

/* ruleset for desktop devices */

@media only screen and (min-width: 670px) {
    .mobile-content {
        display: none; 
        } /* Visible by default */

    .desktop-content { 
        display: block;
        }  /* Hidden by default */
    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

#logo-items {
    display: inline-flex;
    align-items: center;
    }

#logo-name {
    text-transform: uppercase;
    font-size: 32px;
    color: rgb(67, 67, 67);
    }

#academy {
    color: rgb(152, 152, 152);
    }

#logo-image {
    height: 50px;
    width: auto;
    margin-left: 24px;
    }

#desktop-nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 24px;
    column-gap: 16px;
    }
    
#desktop-nav li {
    font-size: 16px;
    width: auto;
    color: rgb(70, 70, 70);
    }
   
 #banner-image {
    width: 60%;
    height: auto;
    padding: 32px 24px 32px 24px;
    }

#banner-text-box {
    max-width: 40%;
    height: auto;
    padding-right: 24px;
    }
    
.banner h1 {
    padding-bottom: 24px;
    }

#start-button {
    background-color: rgb(92, 92, 92);
    margin-top: 24px;
    }

.info {
    align-items: flex-start;
}

#info-box-one {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    }
    
#info-box-one h1 {
    padding-top: 32px;
    font-size: 30px;
    padding-bottom: 0;
    }

#quote {
    line-height: 1.5;
    padding-top: 24px;
    }

#author {
    padding-top: 24px;
    font-size: 14px;
}

#info-box-two {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: solid rgb(200, 199, 199) 1px;
    padding-top: 16px;
    }

#orientation-box, #campus-box, #guest-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    }
    
#orientation-box {
    border-bottom: solid rgb(200, 200, 200) 1px
    }

#campus-box {
    border-top: solid rgb(200, 200, 200) 1px;
    }

#guest-box {
    background-color: rgb(198, 198, 198);
    }

.info-text-box {
    max-width: 65%;
    }

#orientation-image, #campus-image, #guest-image {
    width: 35%;
    max-height: auto;
    }

.courses {
    background-color: rgb(196, 196, 196);
    width: 100%;
    }

.courses img {
    height: auto;
    }

#courses-sub-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 32px;
    width: 100%;
    column-gap: 32px;
    }

#software-eng-box, #computer-art-box, #design-box, #data-box, #business-box, #marketing-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 24px;
    margin-bottom: 32px;
    line-height: 1.5;
    width: 31.6%;
    }

.courses p {
    color: rgb(143, 143, 143);
    align-content: center;
    padding-left: 16px;
    }
    
.courses h1 {
    text-align: center;
    }

.courses h4 {
    padding-left: 16px;
    padding-top: 16px;
    }

#courses {
    text-transform: uppercase;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    }

#thesis-container {
    display: flex;
    }

#thesis-box-one {
    display: flex;
    flex-flow: column wrap;
    max-width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
    }

#thesis-box-one h4 {
    padding-top: 24px;
    padding-bottom: 8px;
    }

#thesis-box-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 40%;
    margin-right: 7px;
    }

#fisma-box, #research-box {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    }

#fisma-box {
    background-color: rgb(200, 200, 200);
    }

#fisma-text-box, #research-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding-right: 5px;
    }

.thesis img {
    width: 35%;
    height: auto;
    padding: 16px;
    }

footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    }

footer .desktop-content ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 16px;
    text-align: right;
    column-gap: 16px;
    }

li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: fit-content;
    }

a   {
    margin: 0;
    padding: 0;         
    }

}



 



